
<!DOCTYPE html>
<html lang="en">  <!-- TODO: add Turkish -->
<head>
  <meta charset="UTF-8">
  <title>100BURGER</title>
  <!-- MOBILE SCALE -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Android browser address bar theme -->
  <meta name="theme-color" content="#1C1C1C">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="static/css/cokyakinda.css">
  <!-- FONT FAMILY -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300i,400,500,600,700,800" rel="stylesheet">
  <!-- <script src="static/jquery-3.3.1.min.js" type="text/javascript"></script> -->

</head>
<body class="w-full h-full p-0">
  <!-- MAIN CONTAINER -->
  <div id="container">
    <h1 id="brand-100"></h1>
    <h1 id="brand-burger" class="fadeOut">BURGER</h1>
    <p id="cok-yakinda" class="fadeOut">Çok yakında ...</p>
  </div>

    <script src="static/js/cokyakinda.js" type="text/javascript"></script>

</body>
</html>
